@model IEnumerable<ParcialFelipeRamirezLoaiza.DAL.Entities.Ticket>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tickets</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="TicketTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UseDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsUsed)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EntranceGate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UseDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsUsed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EntranceGate)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="panel-heading">
                    <h3 class="panel-title">Consulta de Ticket</h3>
                </div>
                <input type="text" name="id" id="id">
                <button type="button">Consultar</button
                >
            </div>
        </div>
    </div>
</div>

